.logo-block {
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-left: 15px;

    img {
        max-width: 80%;
        max-height: 80%;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 20px;
    }
}
